Repository logicmonitor/helm-charts-qa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vkumbhar94, @bpuri7, @rohitphatak, @shubhashri12, @sagarmamdapure, @gurusiddha, @avadhut123pisal, @khyatigandhi6, @siddharthck

.github/CODEOWNERS:

# Global owner
*	@vkumbhar94 @bpuri7

# argus directory owners
charts/argus/   @vkumbhar94 @rohitphatak @shubhashri12 @sagarmamdapure @bpuri7 @gurusiddha

# collectorSet-controller directory owners
charts/collectorset-controller/   @vkumbhar94  @rohitphatak @shubhashri12 @sagarmamdapure @bpuri7 @gurusiddha

# lm-container directory owners
charts/lm-container/    @vkumbhar94 @rohitphatak @shubhashri12 @sagarmamdapure @bpuri7 @gurusiddha

# lmutil directory owners
charts/lmutil/    @vkumbhar94 @rohitphatak @shubhashri12 @sagarmamdapure @bpuri7 @gurusiddha

# lmotel directory owners
charts/lmotel/ @avadhut123pisal @khyatigandhi6

# lm-logs directory owners
charts/lm-logs  @siddharthck

fix(ui-tmpl): upload json template for v7.0.0-rt01
  uitmpl/lm-container-7.0.0-rt01-ui-jsonpaths.json
Owners: @vkumbhar94, @bpuri7

fix(ui-tmpl): upload json template for v7.0.0-rt01 (#365)
  uitmpl/lm-container-7.0.0-rt01-ui-jsonpaths.json
Owners: @vkumbhar94, @bpuri7

fix(workflow-update): removed json file upload from add-release-asset workflow
  .github/workflows/add-release-assets.yml
Owners: @vkumbhar94, @bpuri7

fix(ui-tmpl): new workflow for uploading ui template
  .github/workflows/add-ui-template-assets.yml
Owners: @vkumbhar94, @bpuri7

fix(repo-url): correct repo url for json template generation
  .github/workflows/add-ui-template-assets.yml
Owners: @vkumbhar94, @bpuri7

fix(workflow): removed commented code
  .github/workflows/add-release-assets.yml
Owners: @vkumbhar94, @bpuri7

feat(workflow): upload release asset update (#366)
  .github/workflows/add-release-assets.yml
  .github/workflows/add-ui-template-assets.yml
Owners: @vkumbhar94, @bpuri7

Update index.yaml
  index.yaml
Owners: @vkumbhar94, @bpuri7

docs(readme): update version skew
  VERSION-SKEW-MATRIX.md
Owners: @vkumbhar94, @bpuri7

docs(uitmpl): upload ui jsonpaths template
  uitmpl/lm-container-7.1.0-rc01-ui-jsonpaths.json
Owners: @vkumbhar94, @bpuri7

fix(ui-templ): upload missing json template file for v7 rt02
  index.yaml
  uitmpl/lm-container-7.0.0-rt02-ui-jsonpaths.json
Owners: @vkumbhar94, @bpuri7

fix(ui-templ): upload missing json template file for v7 rt02 (#367)
  index.yaml
  uitmpl/lm-container-7.0.0-rt02-ui-jsonpaths.json
Owners: @vkumbhar94, @bpuri7

Update index.yaml
  index.yaml
Owners: @vkumbhar94, @bpuri7

Update index.yaml
  index.yaml
Owners: @vkumbhar94, @bpuri7

ci(lm-logs): change user-agent
  charts/lm-logs/Chart.yaml
  charts/lm-logs/templates/_helpers.tpl
  charts/lm-logs/templates/configmap.yaml
  charts/lm-logs/values.yaml
Owners: @siddharthck

ci(lm-logs): change user-agent (#364)
  charts/lm-logs/Chart.yaml
  charts/lm-logs/templates/_helpers.tpl
  charts/lm-logs/templates/configmap.yaml
  charts/lm-logs/values.yaml
Owners: @siddharthck

Update index.yaml
  index.yaml
Owners: @vkumbhar94, @bpuri7

docs(readme): update version skew
  VERSION-SKEW-MATRIX.md
Owners: @vkumbhar94, @bpuri7

ci(lm-container): update lm-container with lm-logs 0.6.0-rc01
  charts/lm-container/Chart.yaml
Owners: @vkumbhar94, @rohitphatak, @shubhashri12, @sagarmamdapure, @bpuri7, @gurusiddha

fix(argus): removed argus replica placeholder
  charts/argus/Chart.yaml
  charts/argus/templates/deployment.yaml
  charts/argus/values.schema.json
  charts/argus/values.yaml
Owners: @vkumbhar94, @rohitphatak, @shubhashri12, @sagarmamdapure, @bpuri7, @gurusiddha

ci(lm-container): update lm-container with lm-logs 0.6.0-rc01 (#368)
  charts/lm-container/Chart.yaml
Owners: @vkumbhar94, @rohitphatak, @shubhashri12, @sagarmamdapure, @bpuri7, @gurusiddha

Update index.yaml
  index.yaml
Owners: @vkumbhar94, @bpuri7

docs(readme): update version skew
  VERSION-SKEW-MATRIX.md
Owners: @vkumbhar94, @bpuri7

docs(uitmpl): upload ui jsonpaths template
  uitmpl/lm-container-7.1.0-rc02-ui-jsonpaths.json
Owners: @vkumbhar94, @bpuri7

fix(argus): modify argus version
  charts/argus/Chart.yaml
Owners: @vkumbhar94, @rohitphatak, @shubhashri12, @sagarmamdapure, @bpuri7, @gurusiddha

fix(argus): removed argus replica placeholder (#369)
  charts/argus/Chart.yaml
  charts/argus/templates/deployment.yaml
  charts/argus/values.schema.json
  charts/argus/values.yaml
Owners: @vkumbhar94, @rohitphatak, @shubhashri12, @sagarmamdapure, @bpuri7, @gurusiddha

Update index.yaml
  index.yaml
Owners: @vkumbhar94, @bpuri7

docs(readme): update version skew
  VERSION-SKEW-MATRIX.md
Owners: @vkumbhar94, @bpuri7

fix(lmc): removed argus replicas placeholder
  charts/lm-container/Chart.yaml
Owners: @vkumbhar94, @rohitphatak, @shubhashri12, @sagarmamdapure, @bpuri7, @gurusiddha

fix(lmc): removed argus replicas placeholder (#370)
  charts/lm-container/Chart.yaml
Owners: @vkumbhar94, @rohitphatak, @shubhashri12, @sagarmamdapure, @bpuri7, @gurusiddha

Update index.yaml
  index.yaml
Owners: @vkumbhar94, @bpuri7

docs(readme): update version skew
  VERSION-SKEW-MATRIX.md
Owners: @vkumbhar94, @bpuri7

docs(uitmpl): upload ui jsonpaths template
  uitmpl/lm-container-7.1.0-rc03-ui-jsonpaths.json
Owners: @vkumbhar94, @bpuri7

fix(collectorids): make collector-ids volume mount optional if not present
  charts/argus/Chart.yaml
  charts/argus/templates/collector-conf.yaml
  charts/argus/templates/deployment.yaml
Owners: @vkumbhar94, @rohitphatak, @shubhashri12, @sagarmamdapure, @bpuri7, @gurusiddha

fix(collectorids): review comments addressed
  charts/argus/templates/collector-conf.yaml
Owners: @vkumbhar94, @rohitphatak, @shubhashri12, @sagarmamdapure, @bpuri7, @gurusiddha

fix(collectorids): make collector-ids volume mount optional if not present (#371)
  charts/argus/Chart.yaml
  charts/argus/templates/collector-conf.yaml
  charts/argus/templates/deployment.yaml
Owners: @vkumbhar94, @rohitphatak, @shubhashri12, @sagarmamdapure, @bpuri7, @gurusiddha

Update index.yaml
  index.yaml
Owners: @vkumbhar94, @bpuri7

docs(readme): update version skew
  VERSION-SKEW-MATRIX.md
Owners: @vkumbhar94, @bpuri7

fix(lmc): charts for v7.1.0-rc04
  charts/lm-container/Chart.yaml
Owners: @vkumbhar94, @rohitphatak, @shubhashri12, @sagarmamdapure, @bpuri7, @gurusiddha

fix(lmc): charts for v7.1.0-rc04 (#372)
  charts/lm-container/Chart.yaml
Owners: @vkumbhar94, @rohitphatak, @shubhashri12, @sagarmamdapure, @bpuri7, @gurusiddha
