Repository logicmonitor/helm-charts-qa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vkumbhar94, @kedarjapan, @bpuri7, @rohitphatak, @shubhashri12, @sagarmamdapure

feat(lmc): update next lmc version
  charts/lm-container/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

fix(argus): fixed update selector applies to
  charts/argus/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

fix(argus): fixed update selector applies to
  charts/lm-container/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

fix(argus,csc): release rt builds for QA
  charts/argus/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

fix(argus,csc): release rt builds for QA
  charts/collectorset-controller/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

fix(lmc): release rt builds for QA
  charts/lm-container/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

feat(lmlogs): migrate lm logs chart
  charts/lm-logs/Chart.yaml
  charts/lm-logs/Dockerfile
  charts/lm-logs/README.md
  charts/lm-logs/ci/base-sanity.yaml
  charts/lm-logs/templates/_helpers.tpl
  charts/lm-logs/templates/configmap.yaml
  charts/lm-logs/templates/deamonset.yaml
  charts/lm-logs/templates/rbac.yaml
  charts/lm-logs/values.yaml
Owners: @vkumbhar94, @kedarjapan, @bpuri7

fix(lmc): argus csc golang lib upgrade
  charts/lm-container/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

fix(lmlogs): change image tag to appversion
  charts/lm-logs/Chart.yaml
  charts/lm-logs/templates/deamonset.yaml
  charts/lm-logs/values.yaml
Owners: @vkumbhar94, @kedarjapan, @bpuri7

fix(lmc): argus csc golang lib upgrade major release
  charts/argus/Chart.yaml
  charts/collectorset-controller/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

fix(lmc): bumped up lm-container helm chart version
  charts/lm-container/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

fix(argus,csc): added support for priority class
  charts/argus/Chart.yaml
  charts/argus/templates/rbac.yaml
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/templates/collector-rbac.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

feat(argus): upgrade grpc health probe version
  charts/collectorset-controller/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

feat(lmc): added support for priority class
  charts/lm-container/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

fix(csc,lmlogs): cluster name and env
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/crds/collectorset.yaml
  charts/lm-logs/templates/configmap.yaml
  charts/lm-logs/values.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure, @vkumbhar94, @kedarjapan, @bpuri7

fix(lmlogs): bump version
  charts/lm-logs/Chart.yaml
Owners: @vkumbhar94, @kedarjapan, @bpuri7

fix(lmc): new charts
  charts/lm-container/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

feat(lmlogs): define lm logs schema
  charts/lm-logs/Chart.yaml
  charts/lm-logs/templates/_helpers.tpl
  charts/lm-logs/templates/configmap.yaml
  charts/lm-logs/templates/deamonset.yaml
  charts/lm-logs/values.schema.json
  charts/lm-logs/values.yaml
Owners: @vkumbhar94, @kedarjapan, @bpuri7

fix(lmlogs): remove default repo from values.yaml
  charts/lm-logs/values.yaml
Owners: @vkumbhar94, @kedarjapan, @bpuri7

fix(lmc): add new lm logs chart version
  charts/lm-container/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

fix(lmc): release rt builds for QA
  charts/lm-container/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

fix(lmlog): ignore ui values for now
  charts/lm-logs/Chart.yaml
  charts/lm-logs/values.schema.json
Owners: @vkumbhar94, @kedarjapan, @bpuri7

fix(lmc): add new lmlogs charts
  charts/lm-container/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

feat(argus): added support for service accounts
  charts/argus/Chart.yaml
  charts/argus/templates/rbac.yaml
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/templates/collector-rbac.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

feat(argus): added support for service accounts
  charts/lm-container/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

feat(argus): changes done in lm-container chart for clusterrole and clusterrolebinding
  charts/lm-container/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

fix(csc): new image with probe.sh
  charts/collectorset-controller/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

fix(lmc): new csc chart with probe.sh
  charts/lm-container/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

feat(crd-monitor): permissions to monitor crds
  charts/argus/Chart.yaml
  charts/argus/templates/rbac.yaml
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/templates/collector-rbac.yaml
  charts/lm-container/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

feat(argus): added support for roles and rolebindings
  charts/argus/Chart.yaml
  charts/argus/templates/rbac.yaml
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/templates/collector-rbac.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

feat(argus): bumped chart version for argus
  charts/argus/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

feat(argus): lm-container charts dep updated for supporting role and rolesbindings
  charts/lm-container/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

feat(argus): lm-container charts dep updated for supporting role and rolesbindings
  charts/lm-container/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

feat(crd-monitor): support for crd monitor
  charts/argus/Chart.yaml
  charts/collectorset-controller/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

fix(comments): removed unwanted comments
  charts/lm-container/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

feat(crd-monitor): fixed review comments
  charts/argus/templates/rbac.yaml
  charts/collectorset-controller/templates/collector-rbac.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

feat(lmc-3.1.0-rc03): chart for CRD monitoring
  charts/lm-container/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

feat(lmutil): create new util helm chart
  charts/lmutil/.helmignore
  charts/lmutil/Chart.yaml
  charts/lmutil/templates/_util.tpl
Owners: @vkumbhar94, @kedarjapan, @bpuri7

fix(lmutil): fix ghwf
  .github/workflows/lint-test.yaml
  charts/lmutil/Chart.yaml
Owners: @vkumbhar94, @kedarjapan, @bpuri7

fix(ghwf): disable lmutil installation
  .github/workflows/lint-test.yaml
Owners: @vkumbhar94, @kedarjapan, @bpuri7

.github/CODEOWNERS:

# Global owner
*	@vkumbhar94 @kedarjapan @bpuri7

# argus directory owners
charts/argus/    @rohitphatak @shubhashri12 @sagarmamdapure

# collectorSet-controller directory owners
charts/collectorset-controller/    @rohitphatak @shubhashri12 @sagarmamdapure

# lm-container directory owners
charts/lm-container/    @rohitphatak @shubhashri12 @sagarmamdapure
