Repository logicmonitor/helm-charts-qa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vkumbhar94, @kedarjapan, @bpuri7, @rohitphatak, @shubhashri12, @sagarmamdapure

fix(argus): argus version upgrade
  charts/lm-container/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

refactor(argus): remove ksm dep and add to lmc
  charts/argus/Chart.yaml
  charts/argus/values.schema.json
  charts/argus/values.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

refactor(lmc): add remove ksm dep from argus to lmc
  charts/lm-container/Chart.yaml
  charts/lm-container/values.schema.json
  charts/lm-container/values.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

refactor(argus): bump version
  charts/argus/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

refactor(lmc): new line at the end
  charts/lm-container/values.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

feat(argus,csc): add debug-info in configmap
  charts/argus/Chart.yaml
  charts/argus/templates/configmap.yaml
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/templates/configmap.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

feat(lmc): add debug-info in configmap
  charts/lm-container/Chart.yaml
  charts/lm-container/templates/_helpers.tpl
  charts/lm-container/templates/configmap.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

ci(lint-matrix): update kind image version to latest versions
  .github/workflows/lint-test-matrix.yaml
Owners: @vkumbhar94, @kedarjapan, @bpuri7

test(lmc): dummy bump version to trigger gh actions
  charts/lm-container/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

Revert "test(lmc): dummy bump version to trigger gh actions"
  charts/lm-container/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

feat(tf): tf templatefile
  scripts/tf/go.mod
  scripts/tf/main.go
Owners: @vkumbhar94, @kedarjapan, @bpuri7

fix(lmui): accomodate multi comments
  scripts/lmui/lmui
  scripts/lmui/main.go
Owners: @vkumbhar94, @kedarjapan, @bpuri7

ci(script): generate terraform tmpl and variable
  scripts/tf/main.go
  scripts/tf/pkg/load/load.go
  scripts/tf/pkg/tmpl/tmpl.go
  scripts/tf/pkg/vardef/sample.tf
  scripts/tf/pkg/vardef/vardecl.go
Owners: @vkumbhar94, @kedarjapan, @bpuri7

fix(lmtf): uncomment
  scripts/lmtf/go.mod
  scripts/lmtf/main.go
  scripts/lmtf/pkg/load/load.go
  scripts/lmtf/pkg/tmpl/tmpl.go
  scripts/lmtf/pkg/vardef/vardecl.go
  scripts/tf/pkg/vardef/sample.tf
Owners: @vkumbhar94, @kedarjapan, @bpuri7

fix(lmtf): mod name change
  scripts/lmtf/go.mod
  scripts/lmtf/lmtf
  scripts/lmtf/lmtf-mac
  scripts/lmtf/main.go
  scripts/lmtf/pkg/vardef/vardecl.go
  scripts/lmui/lmui-mac
Owners: @vkumbhar94, @kedarjapan, @bpuri7

feat(argus,csc): release rt builds for QA
  charts/argus/Chart.yaml
  charts/collectorset-controller/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

feat(argus): add tf comment tags
  charts/argus/values.schema.json
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

feat(lmc): release rt builds for QA
  charts/lm-container/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

ci(ghwf): build and push tf scripts
  .github/workflows/add-release-assets.yml
Owners: @vkumbhar94, @kedarjapan, @bpuri7

feat(argus): add tf comment tags
  charts/argus/values.schema.json
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

fix(argus): add tf comments
  charts/argus/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

fix(csc): add tf comments
  .github/workflows/add-release-assets.yml
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/values.schema.json
  scripts/lmtf/go.mod
  scripts/lmtf/lmtf
  scripts/lmtf/lmtf-mac
  scripts/lmtf/main.go
Owners: @vkumbhar94, @kedarjapan, @bpuri7, @rohitphatak, @shubhashri12, @sagarmamdapure

fix(lmc): new version
  charts/lm-container/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

fix(lmc): new csc version
  charts/lm-container/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

feat(lmc): rc release for debug profiling endpoint fix
  charts/lm-container/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

refactor(argus, csc): split docker image repo
  charts/argus/Chart.yaml
  charts/argus/templates/_helpers.tpl
  charts/argus/templates/collectorset.yaml
  charts/argus/templates/deployment.yaml
  charts/argus/values.schema.json
  charts/argus/values.yaml
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/templates/_helpers.tpl
  charts/collectorset-controller/templates/deployment.yaml
  charts/collectorset-controller/values.schema.json
  charts/collectorset-controller/values.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

fix(lmc): separate registry and repo
  charts/lm-container/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

feat(csc,argus): allow user to pass env vars to inject in collector pod
  charts/argus/Chart.yaml
  charts/argus/templates/collectorset.yaml
  charts/argus/values.schema.json
  charts/argus/values.yaml
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/crds/collectorset.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

feat(lmc): update argus csc rc1
  charts/lm-container/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

feat(argus): enabled network policy
  charts/argus/Chart.yaml
  charts/argus/templates/_helpers.tpl
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

feat(argus): add network policy in argus rbac
  charts/argus/Chart.yaml
  charts/argus/templates/rbac.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

feat(csc): add network policy in collector rbac
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/templates/collector-rbac.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

fix(argus): deny immutable collector props
  charts/argus/Chart.yaml
  charts/argus/templates/_collector_conf.tpl
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

fix(lmc): new helm chart
  charts/lm-container/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

fix(argus): add id n server to deny list
  charts/argus/Chart.yaml
  charts/argus/templates/_collector_conf.tpl
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

fix(lmc): new argus version
  charts/lm-container/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

feat(argus,csc): add storageclasses,resourcequotas,limitrange in argus and collector rbac
  charts/argus/Chart.yaml
  charts/argus/templates/rbac.yaml
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/templates/collector-rbac.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

feat(csc): modify limitranges and resourcequotas in collector rbac
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/templates/collector-rbac.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

feat(argus): argus helm chart from release/v8.3.0 branch
  charts/argus/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

feat(lmc): lm-container release for qa (limitrange, networkpolicy, resourcequota)
  charts/lm-container/Chart.yaml
Owners: @rohitphatak, @shubhashri12, @sagarmamdapure

.github/CODEOWNERS:

# Global owner
*	@vkumbhar94 @kedarjapan @bpuri7

# argus directory owners
charts/argus/    @rohitphatak @shubhashri12 @sagarmamdapure

# collectorSet-controller directory owners
charts/collectorset-controller/    @rohitphatak @shubhashri12 @sagarmamdapure

# lm-container directory owners
charts/lm-container/    @rohitphatak @shubhashri12 @sagarmamdapure
