Repository logicmonitor/helm-charts-qa, pull requests merged in 2022-12, with the labels that each got.

#151 fix(csc): new image with probe.sh
  charts/collectorset-controller/Chart.yaml
Labels: collectorset-controller

#152 fix(lmc): new csc chart with probe.sh
  charts/lm-container/Chart.yaml
Labels: lm-container

#153 feat(argus): added support for roles and rolebindings
  charts/argus/Chart.yaml
  charts/argus/templates/rbac.yaml
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/templates/collector-rbac.yaml
Labels: argus, collectorset-controller

#155 feat(argus): lm-container charts dep updated for supporting role and …
  charts/lm-container/Chart.yaml
Labels: lm-container

#156 feat(argus): added support for CRDs
  charts/argus/Chart.yaml
  charts/argus/templates/rbac.yaml
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/templates/collector-rbac.yaml
Labels: argus, collectorset-controller

#157 feat(lmc-3.1.0-rc03): chart for CRD monitoring
  charts/lm-container/Chart.yaml
Labels: lm-container

#160 feat(lmc): add new charts
  charts/lm-container/Chart.yaml
  charts/lm-container/templates/_helpers.tpl
  charts/lm-container/templates/configmap.yaml
  charts/lm-container/values.schema.json
Labels: lm-container

#161 build(ghwf): update actions versions
  .github/workflows/lint-test.yaml
Labels: argus
