Repository logicmonitor/helm-charts-qa, pull requests merged in 2022-08, with the labels that each got.

#68 feat(secrets monitoring): support for secrets monitoring
  charts/argus/Chart.yaml
  charts/argus/templates/_helpers.tpl
  charts/argus/templates/rbac.yaml
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/templates/collector-rbac.yaml
Labels: argus, collectorset-controller

#69 feat(secrets chart release): updated container charts for secrets sup…
  charts/lm-container/Chart.yaml
Labels: lm-container

#72 refactor(ingress): remove ingress from csc helm charts
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/templates/collector-rbac.yaml
Labels: collectorset-controller

#71 refactor(ingress): remove ingress from helm charts
  charts/argus/Chart.yaml
  charts/argus/templates/_helpers.tpl
  charts/argus/templates/rbac.yaml
Labels: argus

#73 fix(security): fixed security vulnerabilities
  charts/collectorset-controller/Chart.yaml
Labels: collectorset-controller

#74 fix(security): fixed security vulnerabilities
  charts/lm-container/Chart.yaml
Labels: lm-container
