Repository logicmonitor/helm-charts-qa, pull requests merged in 2022-11, with the labels that each got.

#130 fix(argus,csc): upgrade argus, csc golang libs
  charts/argus/Chart.yaml
  charts/collectorset-controller/Chart.yaml
Labels: argus, collectorset-controller

#132 fix(lmc): argus csc golang lib upgrade
  charts/lm-container/Chart.yaml
Labels: lm-container

#133 fix(lmc): argus csc golang lib upgrade major release
  charts/argus/Chart.yaml
  charts/collectorset-controller/Chart.yaml
Labels: argus, collectorset-controller

#134 fix(lmc): bumped up lm-container helm chart version
  charts/lm-container/Chart.yaml
Labels: lm-container

#135 fix(argus,csc): added support for priority class
  charts/argus/Chart.yaml
  charts/argus/templates/rbac.yaml
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/templates/collector-rbac.yaml
Labels: argus, collectorset-controller

#137 feat(argus): upgrade grpc health probe version
  charts/collectorset-controller/Chart.yaml
Labels: collectorset-controller

#138 feat(lmc): added support for priority class
  charts/lm-container/Chart.yaml
Labels: lm-container

#129 feat(lmlogs): migrate lm logs chart
  charts/lm-logs/Chart.yaml
  charts/lm-logs/Dockerfile
  charts/lm-logs/README.md
  charts/lm-logs/ci/base-sanity.yaml
  charts/lm-logs/templates/_helpers.tpl
  charts/lm-logs/templates/configmap.yaml
  charts/lm-logs/templates/deamonset.yaml
  charts/lm-logs/templates/rbac.yaml
  charts/lm-logs/values.yaml
Labels: lm-logs

#139 fix(csc,lmlogs): cluster name and env
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/crds/collectorset.yaml
  charts/lm-logs/Chart.yaml
  charts/lm-logs/templates/configmap.yaml
  charts/lm-logs/values.yaml
Labels: collectorset-controller, lm-logs

#140 fix(lmc): new charts
  charts/lm-container/Chart.yaml
Labels: lm-container

#141 feat(lmlogs): define lm logs schema
  charts/lm-logs/Chart.yaml
  charts/lm-logs/templates/_helpers.tpl
  charts/lm-logs/templates/configmap.yaml
  charts/lm-logs/templates/deamonset.yaml
  charts/lm-logs/values.schema.json
  charts/lm-logs/values.yaml
Labels: lm-logs

#142 fix(lmc): add new lm logs chart version
  charts/lm-container/Chart.yaml
Labels: lm-container

#144 fix(lmlog): ignore ui values for now
  charts/lm-logs/Chart.yaml
  charts/lm-logs/values.schema.json
Labels: lm-logs

#145 fix(lmc): add new lmlogs charts
  charts/lm-container/Chart.yaml
Labels: lm-container

#143 fix(lmc): release rt builds for QA
  charts/lm-container/Chart.yaml
Labels: lm-container

#146 feat(argus): added support for service accounts
  charts/argus/Chart.yaml
  charts/argus/templates/rbac.yaml
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/templates/collector-rbac.yaml
Labels: argus, collectorset-controller

#147 feat(argus): added support for service accounts
  charts/lm-container/Chart.yaml
Labels: lm-container

#148 feat(argus): added support for clusterrole and clusterrolebindings
  charts/argus/Chart.yaml
  charts/argus/templates/rbac.yaml
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/templates/collector-rbac.yaml
Labels: argus, collectorset-controller

#150 feat(argus): changes done in lm-container chart for clusterrole and c…
  charts/lm-container/Chart.yaml
Labels: lm-container
