Repository logicmonitor/helm-charts-qa, pull requests merged in 2022-09, with the labels that each got.

#75 fix(security): fixed security vulnerabilities for argus
  charts/argus/Chart.yaml
Labels: argus

#77 fix(security): release lm-container 1.1.0-rc06
  charts/lm-container/Chart.yaml
Labels: lm-container

#79 feat(argus,csc): accept proxy details from global configuration
  charts/argus/Chart.yaml
  charts/argus/templates/_argus_config.tpl
  charts/argus/templates/collectorset.yaml
  charts/argus/values.schema.json
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/templates/configmap.yaml
Labels: argus, collectorset-controller

#80 feat: accept global proxy configurations
  charts/lm-container/Chart.yaml
Labels: lm-container

#81 feat(k8s): test charts with k8s 1.25
  .github/workflows/label.yaml
  .github/workflows/lint-test-matrix.yaml
Labels: argus, lm-container, collectorset-controller

#82 fix(csc): get custom collector image details in cs object
  charts/collectorset-controller/Chart.yaml
Labels: collectorset-controller

#83 fix(lmc): get custom collector image details
  charts/lm-container/Chart.yaml
Labels: lm-container

#84 feat(lmc): accept agentconf customizations
  charts/lm-container/Chart.yaml
Labels: lm-container

#85 fix(argus): handle empty cf list and trimmed collector props
  charts/argus/Chart.yaml
  charts/argus/templates/_collector_conf.tpl
  charts/argus/templates/collector-conf.yaml
Labels: argus

#86 fix(lmc): handle empty cf props
  charts/lm-container/Chart.yaml
Labels: lm-container

#87 fix(argus): set proxy url in cs and collector secretname
  charts/argus/Chart.yaml
  charts/argus/templates/collectorset.yaml
Labels: argus

#88 fix(csc): set new csc image with proxy url fix
  charts/collectorset-controller/Chart.yaml
Labels: collectorset-controller

#89 fix(lmc): set new argus csc chart version with proxy url fix
  charts/lm-container/Chart.yaml
Labels: lm-container

#90 fix(argus): log "empty pod ip" at warn level
  charts/argus/Chart.yaml
Labels: argus

#92 fix(argus): argus version upgrade
  charts/lm-container/Chart.yaml
Labels: lm-container

#93 refactor(argus): remove ksm dep and add to lmc
  charts/argus/Chart.yaml
  charts/argus/values.schema.json
  charts/argus/values.yaml
Labels: argus

#94 refactor(lmc): add remove ksm dep from argus to lmc
  charts/lm-container/Chart.yaml
  charts/lm-container/values.schema.json
  charts/lm-container/values.yaml
Labels: lm-container

#95 feat(argus,csc): add debug-info in configmap
  charts/argus/Chart.yaml
  charts/argus/templates/configmap.yaml
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/templates/configmap.yaml
Labels: argus, collectorset-controller

#96 feat(lmc): add debug-info in configmap
  charts/lm-container/Chart.yaml
  charts/lm-container/templates/_helpers.tpl
  charts/lm-container/templates/configmap.yaml
Labels: lm-container

#97 ci(lint-matrix): update kind image version to latest versions
  .github/workflows/lint-test-matrix.yaml
Labels: lm-container

#99 feat(argus,csc): release rt builds for QA
  charts/argus/Chart.yaml
  charts/collectorset-controller/Chart.yaml
Labels: argus, collectorset-controller

#100 feat(lmc): release rt builds for QA
  charts/lm-container/Chart.yaml
Labels: lm-container

#102 feat(argus): add tf comment tags
  charts/argus/Chart.yaml
  charts/argus/values.schema.json
Labels: argus

#103 fix(csc): add tf comments
  .github/workflows/add-release-assets.yml
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/values.schema.json
  scripts/lmtf/go.mod
  scripts/lmtf/lmtf
  scripts/lmtf/lmtf-mac
  scripts/lmtf/main.go
Labels: collectorset-controller

#104 fix(lmc): new csc version
  charts/lm-container/Chart.yaml
Labels: lm-container
