Repository logicmonitor/helm-charts-qa, pull requests merged in 2022-07, with the labels that each got.

#52 feat(lmc): add json schema to validate configuration
  charts/lm-container/Chart.yaml
  charts/lm-container/values.schema.json
Labels: lm-container

#53 ci(ghwf): add matrix helm lint test workflow and close stale issues n…
  .github/workflows/lint-test-matrix.yaml
  .github/workflows/lint-test.yaml
  .github/workflows/stale.yaml
  charts/argus/Chart.yaml
  charts/argus/ci/base-sanity-values.yaml
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/ci/base-sanity-values.yaml
  charts/lm-container/Chart.yaml
  charts/lm-container/ci/base-sanity-values.yaml
  charts/lm-container/ci/multi-collector-values.yaml
  ct.yaml
  kind-conf.yaml
  v1beta1-cs-crd.yaml
Labels: argus, lm-container, collectorset-controller

#54 refactor(lmc): use new argus n csc versions
  charts/lm-container/Chart.yaml
Labels: lm-container

#55 fix(argus,csc): update new argus image and update old readme files
  charts/argus/Chart.yaml
  charts/argus/README.md
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/README.md
Labels: argus, collectorset-controller

#56 fix(lmc): use new argus and csc helm charts
  charts/lm-container/Chart.yaml
  charts/lm-container/README.md
Labels: lm-container

#58 feat(lmc): release lmc rt01
  charts/lm-container/Chart.yaml
Labels: lm-container

#59 feat(pdb-monitoring): added support for pdb monitoring
  charts/argus/Chart.yaml
  charts/argus/templates/rbac.yaml
  charts/argus/values.yaml
Labels: argus

#64 fix(selector in pdb): support for selectors in pdb
  charts/argus/Chart.yaml
Labels: argus, lm-container

#66 fix(release charts): released container charts for selectors in pdb
  charts/lm-container/Chart.yaml
Labels: lm-container
