Repository logicmonitor/helm-charts-qa, pull requests merged in 2022-10, with the labels that each got.

#105 feat(argus): fixed debug profiling endpoint exposed issue
  charts/argus/Chart.yaml
Labels: argus

#107 feat(lmc): rc release for debug profiling endpoint fix
  charts/lm-container/Chart.yaml
Labels: lm-container

#108 refactor(argus, csc): split docker image repo
  charts/argus/Chart.yaml
  charts/argus/templates/_helpers.tpl
  charts/argus/templates/collectorset.yaml
  charts/argus/templates/deployment.yaml
  charts/argus/values.schema.json
  charts/argus/values.yaml
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/templates/_helpers.tpl
  charts/collectorset-controller/templates/deployment.yaml
  charts/collectorset-controller/values.schema.json
  charts/collectorset-controller/values.yaml
Labels: argus, collectorset-controller

#109 fix(lmc): separate registry and repo
  charts/lm-container/Chart.yaml
Labels: lm-container

#110 feat(csc,argus): allow user to pass env vars to inject in collector pod
  charts/argus/Chart.yaml
  charts/argus/templates/collectorset.yaml
  charts/argus/values.schema.json
  charts/argus/values.yaml
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/crds/collectorset.yaml
Labels: argus, collectorset-controller

#111 feat(lmc): update argus csc rc1
  charts/lm-container/Chart.yaml
Labels: lm-container

#112 feat(argus): enable network policy
  charts/argus/Chart.yaml
  charts/argus/templates/_helpers.tpl
Labels: argus

#114 feat(argus): add network policy in argus rbac
  charts/argus/Chart.yaml
  charts/argus/templates/rbac.yaml
Labels: argus

#115 feat(csc): add network policy in collector rbac
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/templates/collector-rbac.yaml
Labels: collectorset-controller

#116 fix(argus): deny immutable collector props
  charts/argus/Chart.yaml
  charts/argus/templates/_collector_conf.tpl
Labels: argus

#117 fix(lmc): new helm chart
  charts/lm-container/Chart.yaml
Labels: lm-container

#118 fix(argus): add id n server to deny list
  charts/argus/Chart.yaml
  charts/argus/templates/_collector_conf.tpl
Labels: argus

#119 fix(lmc): new argus version
  charts/lm-container/Chart.yaml
Labels: lm-container

#120 feat(argus,csc): add storageclasses,resourcequotas,limitrange in argu…
  charts/argus/Chart.yaml
  charts/argus/templates/rbac.yaml
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/templates/collector-rbac.yaml
Labels: argus, collectorset-controller

#121 feat(csc): modify limitranges and resourcequotas in collector rbac
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/templates/collector-rbac.yaml
Labels: collectorset-controller

#122 feat(argus): argus helm chart from release/v8.3.0 branch (rc release)
  charts/argus/Chart.yaml
Labels: argus

#123 feat(lmc): lm-container rc-release for qa (limitrange, networkpolicy, re…
  charts/lm-container/Chart.yaml
Labels: lm-container

#124 feat(lmc): update next lmc version
  charts/lm-container/Chart.yaml
Labels: lm-container

#125 fix(argus): fixed update selector applies to
  charts/argus/Chart.yaml
Labels: argus

#126 fix(argus,lmc): fixed update selector applies to
  charts/lm-container/Chart.yaml
Labels: lm-container

#127 fix(argus,csc): release rt builds for QA
  charts/argus/Chart.yaml
  charts/collectorset-controller/Chart.yaml
Labels: argus, collectorset-controller

#128 fix(lmc): release rt builds for QA
  charts/lm-container/Chart.yaml
Labels: lm-container
