Repository logicmonitor/helm-charts-qa, pull requests merged in 2023-02, with the labels that each got.

#182 feat(releasemanager): new releasemanager chart
  charts/releasemanager/.helmignore
  charts/releasemanager/Chart.yaml
  charts/releasemanager/README.md
  charts/releasemanager/ci/base-sanity.yaml
  charts/releasemanager/templates/NOTES.txt
  charts/releasemanager/templates/_helpers.tpl
  charts/releasemanager/templates/configmap.yaml
  charts/releasemanager/templates/deployment.yaml
  charts/releasemanager/templates/ingress.yaml
  charts/releasemanager/templates/rbac.yaml
  charts/releasemanager/templates/secret.yaml
  charts/releasemanager/templates/service.yaml
  charts/releasemanager/templates/serviceaccount.yaml
  charts/releasemanager/values.yaml
Labels: releasemanager

#183 fix(lmc): release lm-container chart for rt
  charts/lm-container/Chart.yaml
Labels: lm-container

#184 fix(lmutil): open openshift scc to pass allowed caps
  charts/lmutil/Chart.yaml
  charts/lmutil/templates/_openshift-scc.tpl
Labels: lmutil

#186 fix(lmc): new charts with fcap fix
  charts/lm-container/Chart.yaml
Labels: lm-container

#187 fix(argus): set custom cap fcap
  charts/argus/Chart.yaml
  charts/argus/templates/_collector.tpl
Labels: argus

#188 fix(lmc): update new argus chart version with fcap custom
  charts/lm-container/Chart.yaml
Labels: lm-container

#189 fix(argus,csc): change base os in dockerfile
  charts/argus/Chart.yaml
  charts/collectorset-controller/Chart.yaml
Labels: argus, collectorset-controller

#191 fix(handle-panic): handle panic while type conversion
  charts/argus/Chart.yaml
Labels: argus, lm-container

#192 fix(lmc-rc): rc release for container charts
  charts/lm-container/Chart.yaml
Labels: lm-container
