Repository logicmonitor/helm-charts-qa, pull requests merged in 2023-08, with the labels that each got.

#249 feat(lmotel): add lmotel helm chart
  .github/workflows/lint-test.yaml
  charts/lmotel/.helmignore
  charts/lmotel/Chart.yaml
  charts/lmotel/README.md
  charts/lmotel/ci/base-sanity-values.yaml
  charts/lmotel/templates/NOTES.txt
  charts/lmotel/templates/_helpers.tpl
  charts/lmotel/templates/configmap.yaml
  charts/lmotel/templates/daemonset.yaml
  charts/lmotel/templates/ingress-grpc.yaml
  charts/lmotel/templates/ingress-http.yaml
  charts/lmotel/templates/rbac.yaml
  charts/lmotel/templates/secrets.yaml
  charts/lmotel/templates/service.yaml
  charts/lmotel/templates/statefulset.yaml
  charts/lmotel/values.schema.json
  charts/lmotel/values.yaml
Labels: lmotel

#253 fix(collectorid-fixes): changes for collectorIds label fix
  charts/argus/Chart.yaml
  charts/collectorset-controller/Chart.yaml
Labels: argus, collectorset-controller

#254 fix(collectorid-fix): lmc charts for collector id label fix
  charts/lm-container/Chart.yaml
Labels: lm-container

#251 feat(lmc, lmotel): integrate-lmotel-helm-chart-with-lmcontainer
  charts/lm-container/Chart.yaml
  charts/lm-container/values.schema.json
  charts/lm-container/values.yaml
Labels: lm-container

#252 feat(add lm-logs helm chart): migrate to helm-charts
  charts/lm-logs/.helmignore
  charts/lm-logs/Chart.yaml
  charts/lm-logs/Dockerfile
  charts/lm-logs/ci/base-sanity-values.yaml
  charts/lm-logs/ci/base-sanity.yaml
  charts/lm-logs/templates/_helpers.tpl
  charts/lm-logs/templates/configmap.yaml
  charts/lm-logs/templates/deamonset.yaml
  charts/lm-logs/values.schema.json
  charts/lm-logs/values.yaml
Labels: lm-logs

#255 feat(rt-charts): lm container 4.4.0-rt01 for QA
  charts/lm-container/Chart.yaml
Labels: lm-container

#257 feat(lmutil): return appropriate secret name based on user defined se…
  charts/lmutil/Chart.yaml
  charts/lmutil/templates/_util.tpl
Labels: lmutil

#256 feat(argus): user defined secret changes
  charts/argus/Chart.yaml
  charts/argus/templates/_helpers.tpl
  charts/argus/templates/collectorset.yaml
  charts/argus/templates/deployment.yaml
  charts/argus/templates/secret.yaml
  charts/argus/values.schema.json
  charts/argus/values.yaml
Labels: argus

#258 fix(csc): user defined secret changes
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/templates/_helpers.tpl
  charts/collectorset-controller/templates/configmap.yaml
  charts/collectorset-controller/templates/csc-rbac.yaml
  charts/collectorset-controller/templates/deployment.yaml
  charts/collectorset-controller/templates/secret.yaml
  charts/collectorset-controller/values.schema.json
  charts/collectorset-controller/values.yaml
Labels: collectorset-controller

#262 fix(csc): bump up csc chart and app version
  charts/collectorset-controller/Chart.yaml
Labels: collectorset-controller

#260 fix(argus): bump up argus version
  charts/argus/Chart.yaml
Labels: argus

#259 fix(lmc): user defined secret changes
  charts/lm-container/Chart.yaml
  charts/lm-container/values.schema.json
  charts/lm-container/values.yaml
Labels: lm-container

#263 fix(argus): changes done to fix a bug for monitoring.disabled config …
  charts/argus/Chart.yaml
Labels: argus

#264 fix(lmc): argus version bump up
  charts/lm-container/Chart.yaml
Labels: lm-container

#267 feat(lmutil): added util method to validate user provided secret
  charts/lmutil/Chart.yaml
  charts/lmutil/templates/_util.tpl
Labels: lmutil

#265 feat( lmc, lm-logs): upgrade lm-logs chart for lmc
  charts/lm-logs/Chart.yaml
  charts/lm-logs/README.md
Labels: lm-container, lm-logs

#268 feat( lm-container): upgrade lm-logs chart to 0.4.0.-rt01
  charts/lm-container/Chart.yaml
Labels: lm-container

#269 fix(lmutil): bug fix in named template to verify user defined secret
  charts/lmutil/Chart.yaml
  charts/lmutil/templates/_util.tpl
Labels: lmutil

#266 feat(argus,csc): added validation for user provided secret not contain mandatory fields
  charts/argus/Chart.yaml
  charts/argus/templates/_helpers.tpl
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/templates/_helpers.tpl
Labels: argus, collectorset-controller

#270 fix(csc): bump up csc chart and app version
  charts/collectorset-controller/Chart.yaml
Labels: collectorset-controller

#271 fix(lmc): bump up chart versions
  charts/lm-container/Chart.yaml
Labels: lm-container
