Repository logicmonitor/helm-charts-qa, pull requests merged in 2023-12, with the labels that each got.

#305 feat(argus,csc): collector ABCG with failover changes
  charts/argus/Chart.yaml
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/crds/collectorset.yaml
Labels: argus, collectorset-controller

#306 feat(lmc): collector ABCG with failover changes
  charts/lm-container/Chart.yaml
Labels: lm-container

#307 feat(argus): logsource integration
  charts/argus/Chart.yaml
Labels: argus

#308 feat(lmc): lmc-version-bump-up for logsources
  charts/lm-container/Chart.yaml
Labels: lm-container

#310 feat(lmc-v6.2.0-rc03): collector config in argus cm
  charts/lm-container/Chart.yaml
Labels: lm-container

#311 feat(lmc-rt): rt tag v6.2.0-rt01
  charts/lm-container/Chart.yaml
Labels: lm-container

#312 feat(collector-conf): add collector version to argus-configmap
  charts/argus/Chart.yaml
  charts/argus/templates/_collector_config.tpl
Labels: argus

#314 ci(lm-logs): add multiline_concat_key param for lm-logs
  charts/lm-logs/Chart.yaml
  charts/lm-logs/README.md
  charts/lm-logs/templates/configmap.yaml
  charts/lm-logs/values.schema.json
  charts/lm-logs/values.yaml
Labels: lm-logs
