Repository logicmonitor/helm-charts-qa, pull requests merged in 2023-04, with the labels that each got.

#207 fix(lmc-rc): release rt builds for QA
  charts/lm-container/Chart.yaml
Labels: lm-container

#212 feat(affinity-rule): configurable affinity rule
  charts/argus/Chart.yaml
  charts/argus/templates/collectorset.yaml
  charts/argus/values.schema.json
  charts/argus/values.yaml
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/crds/collectorset.yaml
Labels: argus, collectorset-controller

#213 feat(affinity-rule): container charts for affinity rule configuration
  charts/lm-container/Chart.yaml
Labels: lm-container

#210 fix(rbac): rbac permissions
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/templates/collector-rbac.yaml
Labels: collectorset-controller

#214 fix(rbac): chart upgrade
  charts/lm-container/Chart.yaml
Labels: lm-container

#215 feat(allowmultiplecollectorsonNode-param): added allowMultipleCollect…
  charts/argus/Chart.yaml
  charts/argus/templates/_collector.tpl
  charts/argus/templates/collectorset.yaml
  charts/argus/values.schema.json
  charts/argus/values.yaml
Labels: argus

#216 feat(lmc-4.0.0-rc03): update chart version for configurable affinity rule
  charts/lm-container/Chart.yaml
Labels: lm-container
