Repository logicmonitor/helm-charts-qa, pull requests merged in 2023-11, with the labels that each got.

#288 feat(overview): argus configuration
  charts/argus/Chart.yaml
  charts/argus/templates/_argus_config.tpl
  charts/argus/values.schema.json
  charts/argus/values.yaml
Labels: argus

#293 refactor(lmc): lmc ver bump up
  charts/lm-container/Chart.yaml
Labels: lm-container

#294 revert(csc): revert ABCG changes
  charts/collectorset-controller/Chart.yaml
Labels: collectorset-controller

#297 revert(csc): revert ABCG changes
  charts/collectorset-controller/Chart.yaml
Labels: collectorset-controller

#296 revert(lmc): revert collector ABCG changes
  charts/lm-container/Chart.yaml
Labels: lm-container

#298 feat(lmc): release 6.0.0-rt01 for QA
  charts/lm-container/Chart.yaml
Labels: lm-container

#299 fix(csc): csc logging github action
  charts/collectorset-controller/Chart.yaml
Labels: collectorset-controller

#300 fix(lmc): csc logging github action
  charts/lm-container/Chart.yaml
Labels: lm-container

#301 fix(csc): update csc logging to fatal
  charts/collectorset-controller/Chart.yaml
Labels: collectorset-controller

#302 fix(lmc): update csc logging to fatal
  charts/lm-container/Chart.yaml
Labels: lm-container
