Repository logicmonitor/helm-charts-qa, pull requests merged in 2023-10, with the labels that each got.

#280 fix(lmc): bump up ksm chart version
  charts/lm-container/Chart.yaml
Labels: lm-container

#281 feat(lm-logs): support bearer token for authentication
  charts/lm-logs/Chart.yaml
  charts/lm-logs/Dockerfile
  charts/lm-logs/templates/configmap.yaml
  charts/lm-logs/values.schema.json
  charts/lm-logs/values.yaml
Labels: lm-logs

#282 feat(medium-collector-size): make default collector size as medium
  charts/argus/Chart.yaml
  charts/argus/values.yaml
Labels: argus

#284 feat(lmc): release 5.2.0-rt01 for QA
  charts/lm-container/Chart.yaml
Labels: lm-container

#283 feat(lmc-5.3.0-rc01): release lm-container v5.3.0-rc01
  charts/lm-container/Chart.yaml
Labels: lm-container

#285 feat(argus,csc): upgrade base image
  charts/argus/Chart.yaml
  charts/collectorset-controller/Chart.yaml
Labels: argus, collectorset-controller

#286 feat(lmc): upgrade base image
  charts/lm-container/Chart.yaml
Labels: lm-container

#287 chore(argus): cOLLECTOR_NON_ROOT prop case sensitive check
  charts/argus/Chart.yaml
  charts/argus/templates/_collector.tpl
  charts/argus/templates/collectorset.yaml
Labels: argus

#290 fix(csc): change collector group to ABCG
  charts/collectorset-controller/Chart.yaml
Labels: collectorset-controller

#292 fix(csc): change collector group to ABCG
  charts/collectorset-controller/Chart.yaml
Labels: collectorset-controller

#291 fix(lmc): change collector group to ABCG
  charts/lm-container/Chart.yaml
Labels: lm-container
