Repository logicmonitor/helm-charts-qa, pull requests merged in 2023-01, with the labels that each got.

#163 feat(lmutil): define template to create openshift scc
  charts/lmutil/Chart.yaml
  charts/lmutil/templates/_openshift-scc.tpl
  charts/lmutil/templates/_util.tpl
Labels: lmutil

#164 feat(csc,argus): create openshift scc for csc,argus, n collector
  charts/argus/Chart.yaml
  charts/argus/templates/openshift-scc.yaml
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/templates/openshift-scc.yaml
  charts/collectorset-controller/templates/serviceaccount.yaml
Labels: argus, collectorset-controller

#165 feat(lmc): get new csc,argus chart and create openshift scc for ksm
  charts/lm-container/Chart.yaml
  charts/lm-container/templates/ksm-openshift-scc.yaml
Labels: lm-container

#166 feat(lmutil): add util to create sc and psc
  .github/workflows/lint-test-matrix.yaml
  .github/workflows/lint-test.yaml
  charts/lmutil/Chart.yaml
  charts/lmutil/templates/_customizations.tpl
  charts/lmutil/templates/_util.tpl
Labels: lmutil

#167 feat(argus,csc): security context configurations
  charts/argus/Chart.yaml
  charts/argus/templates/_collector.tpl
  charts/argus/templates/collectorset.yaml
  charts/argus/templates/deployment.yaml
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/crds/collectorset.yaml
  charts/collectorset-controller/templates/deployment.yaml
Labels: argus, collectorset-controller

#168 feat(lmc): new argus csc charts
  charts/lm-container/Chart.yaml
Labels: lm-container

#169 fix(csc): update appversion to v6.2.0-rc1
  charts/collectorset-controller/Chart.yaml
Labels: collectorset-controller

#170 fix(lmc): update new csc chart
  charts/lm-container/Chart.yaml
Labels: lm-container

#171 fix(lm-container): updated charts
  charts/lm-container/Chart.yaml
Labels: lm-container

#172 fix(argus): check non root feature flag to set collector sec context
  charts/argus/Chart.yaml
  charts/argus/templates/_collector.tpl
Labels: argus

#173 refactor(argus): refactor template names
  charts/argus/Chart.yaml
  charts/argus/templates/_collector.tpl
  charts/argus/templates/collectorset.yaml
Labels: argus

#174 fix(lmc): new argus chart to enable root collector on openshift
  charts/lm-container/Chart.yaml
Labels: lm-container

#176 feat(lmutil): alter default and custom templates
  charts/lmutil/Chart.yaml
  charts/lmutil/templates/_customizations.tpl
  charts/lmutil/templates/_util.tpl
Labels: lmutil

#177 fix(argus,csc): remove default values from values.yaml
  charts/argus/Chart.yaml
  charts/argus/templates/_collector.tpl
  charts/argus/values.yaml
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/values.yaml
Labels: argus, collectorset-controller

#178 fix(lmc): get new argus, csc, lmutil charts
  charts/lm-container/Chart.yaml
Labels: lm-container

#179 fix(lmc): generate dynamic name using release name
  charts/lm-container/Chart.yaml
  charts/lm-container/templates/ksm-openshift-scc.yaml
Labels: lm-container

#180 feat(argus): get new argus image to rollout jsonGet filter improvement
  charts/argus/Chart.yaml
Labels: argus

#181 feat(lmc): update new argus chart version
  charts/lm-container/Chart.yaml
Labels: lm-container
