Repository logicmonitor/helm-charts-qa, pull requests merged in 2023-05, with the labels that each got.

#217 fix(lmc-rc): release 4.0.0-rt01 for QA
  charts/lm-container/Chart.yaml
Labels: lm-container

#218 docs(csc): added annotations to add crd details and example on artifa…
  charts/collectorset-controller/Chart.yaml
Labels: collectorset-controller

#219 docs(csc): removed comments from crd example as they were not geting …
  charts/collectorset-controller/Chart.yaml
Labels: collectorset-controller

#221 feat(old-tree): flag to enable old resource tree
  charts/argus/Chart.yaml
  charts/argus/templates/_argus_config.tpl
  charts/argus/values.schema.json
  charts/argus/values.yaml
Labels: argus

#222 feat(lmc-old-tree): container charts for enabling old resource tree
  charts/lm-container/Chart.yaml
Labels: lm-container

#224 feat(proto-repo): proto repo update
  charts/argus/Chart.yaml
  charts/collectorset-controller/Chart.yaml
Labels: argus, collectorset-controller

#223 docs(artifact-hub-schema): updated schema to visible on artifact hub
  charts/lm-container/Chart.yaml
  charts/lm-container/values.schema.json
Labels: lm-container

#225 feat(lmc-4.1.0-rc03): charts for protobuf repo update
  charts/lm-container/Chart.yaml
Labels: lm-container
