Repository logicmonitor/helm-charts-qa, pull requests merged in 2024-02, with the labels that each got.

#334 feat(argus,csc): v3 sdk integration
  charts/argus/Chart.yaml
  charts/collectorset-controller/Chart.yaml
Labels: argus, collectorset-controller

#335 feat(lmc): v3 sdk integration
  charts/lm-container/Chart.yaml
Labels: lm-container

#337 feat(argus,csc): fix grpc security vulnerability
  charts/argus/Chart.yaml
  charts/collectorset-controller/Chart.yaml
Labels: argus, collectorset-controller

#338 feat(lmc): fix grpc security vulnerability
  charts/lm-container/Chart.yaml
Labels: lm-container

#339 fix(escalation-chainid): changes for upadating escalation chain id
  charts/collectorset-controller/Chart.yaml
Labels: collectorset-controller

#336 feat(lmotel): add support of proxy in lmotel
  charts/lmotel/Chart.yaml
  charts/lmotel/README.md
  charts/lmotel/templates/daemonset.yaml
  charts/lmotel/templates/statefulset.yaml
  charts/lmotel/values.schema.json
  charts/lmotel/values.yaml
Labels: lmotel

#340 fix(esclation-chainid): charts for escalation chain id fixes
  charts/lm-container/Chart.yaml
Labels: lm-container

#341 fix(log): corrected log message for escalation chain id
  charts/collectorset-controller/Chart.yaml
Labels: collectorset-controller

#343 fix(build): fixing build errors
  charts/lm-container/Chart.yaml
Labels: lm-container

#344 fix(lmc): release 201 RT tag
  charts/lm-container/Chart.yaml
Labels: lm-container

#345 fix(argus): update liveliness probe periodSeconds
  charts/argus/Chart.yaml
  charts/argus/values.yaml
Labels: argus

#346 fix(lmc): update liveliness probe periodSeconds
  charts/lm-container/Chart.yaml
Labels: lm-container

#348 fix(release-asset): test release asset upload
  charts/lm-container/Chart.yaml
Labels: lm-container

#350 fix(json-ui): test release asset upload on qa repo
  charts/lm-container/Chart.yaml
Labels: lm-container

#352 fix(ui-templ): test release asset upload on qa repo
  charts/lm-container/Chart.yaml
Labels: lm-container

#355 fix(lib-update): test release asset upload on qa repo
  charts/lm-container/Chart.yaml
Labels: lm-container

#357 feat(json-templ): upload release asset for qa repo
  charts/lm-container/Chart.yaml
Labels: lm-container
