Repository logicmonitor/helm-charts-qa, pull requests merged in 2024-03, with the labels that each got.

#364 ci(lm-logs): change user-agent
  charts/lm-logs/Chart.yaml
  charts/lm-logs/templates/_helpers.tpl
  charts/lm-logs/templates/configmap.yaml
  charts/lm-logs/values.yaml
Labels: lm-logs

#368 ci(lm-container): update lm-container with lm-logs 0.6.0-rc01
  charts/lm-container/Chart.yaml
Labels: lm-container

#369 fix(argus): removed argus replica placeholder
  charts/argus/Chart.yaml
  charts/argus/templates/deployment.yaml
  charts/argus/values.schema.json
  charts/argus/values.yaml
Labels: argus

#370 fix(lmc): removed argus replicas placeholder
  charts/lm-container/Chart.yaml
Labels: lm-container

#371 fix(collectorids): make collector-ids volume mount optional if not present
  charts/argus/Chart.yaml
  charts/argus/templates/collector-conf.yaml
  charts/argus/templates/deployment.yaml
Labels: argus

#372 fix(lmc): charts for v7.1.0-rc04
  charts/lm-container/Chart.yaml
Labels: lm-container

#373 feat(schema): update schema links for all subcharts
  charts/lm-container/Chart.yaml
  charts/lm-container/values.schema.json
Labels: lm-container
