Repository logicmonitor/helm-charts-qa, pull requests merged in 2024-05, with the labels that each got.

#378 fix(argus,csc): release 205 RT tag
  charts/argus/Chart.yaml
  charts/collectorset-controller/Chart.yaml
Labels: argus, collectorset-controller

#377 fix(lmc): release 205 RT tag
  charts/lm-container/Chart.yaml
Labels: lm-container

#379 feat(argus): argus replicas param validation
  charts/argus/Chart.yaml
  charts/argus/templates/deployment.yaml
  charts/argus/values.schema.json
  charts/argus/values.yaml
Labels: argus

#380 fix(upgrade): fixed upgrade issue due to argus replicas param
  charts/lm-container/Chart.yaml
Labels: lm-container

#394 fix(upgrade): fixed upgrade failure on argus replica param
  charts/argus/Chart.yaml
  charts/argus/templates/deployment.yaml
  charts/argus/values.schema.json
  charts/argus/values.yaml
Labels: argus, lm-container, collectorset-controller
