Repository logicmonitor/helm-charts-qa, pull requests merged in 2024-11, with the labels that each got.

#435 feat(ksm): lm-container version upgrade
  charts/lm-container/Chart.yaml
Labels: lm-container

#436 feat(ksm): empty ksm handle
  charts/argus/Chart.yaml
  charts/argus/templates/_helpers.tpl
Labels: argus

#437 feat(ksm): version upgrade
  charts/lm-container/Chart.yaml
Labels: lm-container

#438 fix(filters): handling filters optimization for multiple ksm services
  charts/argus/Chart.yaml
Labels: argus

#440 feat(lmc): lmc charts for handling multiple ksm services with filters optimization
  charts/lm-container/Chart.yaml
Labels: lm-container

#439 feat(ksm): ksmurl from global
  charts/argus/Chart.yaml
  charts/argus/templates/_argus_config.tpl
  charts/argus/templates/_helpers.tpl
  charts/argus/values.schema.json
Labels: argus, lm-container

#441 feat(ksm): ksm included in global
  charts/lm-container/Chart.yaml
  charts/lm-container/values.schema.json
  charts/lm-container/values.yaml
Labels: lm-container
