Repository logicmonitor/helm-charts-qa, pull requests merged in 2025-09, with the labels that each got.

#501 feat(lookup): removed lookup
  charts/argus/Chart.yaml
  charts/argus/templates/_helpers.tpl
  charts/argus/templates/deployment.yaml
  charts/argus/templates/post-install.yaml
  charts/argus/templates/rbac.yaml
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/templates/_helpers.tpl
  charts/collectorset-controller/templates/csc-rbac.yaml
  charts/collectorset-controller/templates/deployment.yaml
  charts/collectorset-controller/templates/post-install.yaml
Labels: argus, collectorset-controller

#504 feat(lookup): changed hook-delete-policy
  charts/lm-container/Chart.yaml
Labels: lm-container

#511 fix(lookup): ksm url update
  charts/argus/Chart.yaml
  charts/argus/templates/post-install.yaml
Labels: argus
