Repository logicmonitor/helm-charts-qa, pull requests merged in 2025-01, with the labels that each got.

#444 feat(argus): default disable resources
  charts/argus/Chart.yaml
  charts/argus/templates/_filter_config.tpl
  charts/argus/templates/_helpers.tpl
  charts/argus/templates/configmap.yaml
  charts/argus/values.schema.json
  charts/argus/values.yaml
  commitlint.config.js
Labels: argus

#446 feat(argus): version upgrade
  charts/argus/Chart.yaml
Labels: argus

#447 feat(lmc): upgrade lmc version
  charts/lm-container/Chart.yaml
Labels: lm-container

#448 feat(argus,csc): fix veracode vulnerability
  charts/argus/Chart.yaml
  charts/collectorset-controller/Chart.yaml
Labels: argus, collectorset-controller

#449 feat(lmc): fix veracode vulnerability
  charts/lm-container/Chart.yaml
Labels: lm-container

#450 feat(argus): minimal monitoring
  charts/argus/Chart.yaml
  charts/argus/templates/_helpers.tpl
  charts/argus/values.yaml
Labels: argus
