Repository logicmonitor/helm-charts-qa, pull requests merged in 2025-10, with the labels that each got.

#514 chore(argus,csc): sprint 229 rt release
  charts/argus/Chart.yaml
  charts/collectorset-controller/Chart.yaml
Labels: argus, collectorset-controller

#515 chore(lmc): sprint 229 rt release
  charts/lm-container/Chart.yaml
Labels: lm-container

#516 fix(lookup): slashes removal
  charts/argus/Chart.yaml
  charts/argus/templates/post-install.yaml
Labels: argus

#517 fix(lookup): lmc upgrade
  charts/lm-container/Chart.yaml
Labels: lm-container
