Repository logicmonitor/helm-charts-qa, pull requests merged in 2025-07, with the labels that each got.

#480 fix(logs): logs version upgrade in lm-container
  charts/lm-container/Chart.yaml
Labels: lm-container

#482 feat(lmc): lmc and argus version upgrade
  charts/lm-container/Chart.yaml
Labels: lm-container

#483 feat(argus): argus version upgrade
  charts/argus/Chart.yaml
Labels: argus

#475 feat(lmc): ksm version upgrade in lm-container
  charts/lm-container/Chart.yaml
Labels: lm-container

#484 feat(lmc): lmc version upgrade
  charts/lm-container/Chart.yaml
Labels: lm-container

#485 feat(argus): argus version upgrade
  charts/argus/Chart.yaml
Labels: argus

#486 feat(lmc): lmc version upgrade
  charts/lm-container/Chart.yaml
Labels: lm-container

#487 feat(argus): argus version upgrade
  charts/argus/Chart.yaml
Labels: argus

#488 feat(lmc): lmc version upgrade
  charts/lm-container/Chart.yaml
Labels: lm-container

#490 feat(argus): argus version upgrade
  charts/argus/Chart.yaml
  charts/collectorset-controller/Chart.yaml
Labels: argus, collectorset-controller

#491 feat(lmc): lmc version upgrade
  charts/lm-container/Chart.yaml
Labels: lm-container

#495 feat(lmlogs): logs version upgrade in lm-container
  charts/lm-container/Chart.yaml
Labels: lm-container
